/*========== media query ========*/

@media only screen and (max-width: 575.98px) {
    .navbar-nav.ml-auto {
      background: rgba(45, 52, 54, 0.5);
    }
  
    .navbar-toggler {
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
      background: #00e0d0;
    }
  
    .navbar-toggler-icon {
      color: #00e0d0;
    }

    #story h2
    {
      padding-top: 20px;
      text-align: center;
    }

    #story p
    {
      text-align: center;
    }

    #story a
    {
      margin-left: 40px;
    }

    #videos
    {
      padding: 130px;
    }

    .our-team h3
    {
      font-size: 1.4rem;
    }

    .our-works p
    {
      text-align: center;
    }

    .portfolio-link
    {
      text-align: center;
      float: none;
      padding-left: 5rem;
    }

    .enquiry h3
    {
      font-size: 1.4rem;
    }

    .footer
    {
      padding-top: 10px;
      padding-bottom: 5rem;
    }

    .footer p
    {
      text-align: center;
    }

    .footer h3
    {
      text-align: center;
    }

    .footer-social
    {
      text-align: center;
    }

    .footer nav
    {
      font-size: 15px;
      padding-left: 15px;
    }

    .copyright-text
    {
      text-align: center;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav.ml-auto {
      background: rgba(45, 52, 54, 0.5);
    }
  
    .navbar-toggler {
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
      background: #00e0d0;
    }
  
    .navbar-toggler-icon {
      color: #00e0d0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-nav.ml-auto {
      background: rgba(45, 52, 54, 1);
    }
  
    .navbar-toggler {
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
      background: #00e0d0;
    }
  
    .navbar-toggler-icon {
      color: #00e0d0;
    }
  }